<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="assets/images/favicon_1.ico">

        <title>Minton - Responsive Admin Dashboard Template</title>

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/core.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/icons.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/components.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/pages.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" type="text/css">

        <script src="{{ url_for('static', filename='js/modernizr.min.js') }}"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        
    </head>
    <body>

        {% macro render_field(field) %}
          <dt>{{ field.label }}
          <dd>{{ field(**kwargs)|safe }}
          {% if field.errors %}
            <ul class=errors>
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
            </ul>
          {% endif %}
          </dd>
        {% endmacro %}

        <div class="wrapper-page">

            <div class="text-center">
                <a href="index.html" class="logo logo-lg"><i class="md md-equalizer"></i> <span>Stats</span> </a>
            </div>

            <form class="form-horizontal m-t-20" action="login" method="post">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    <div class="col-xs-12">
                        <!-- <input id="{{ form.username.id }}" class="form-control" type="text" required="" placeholder="Username"> -->
                        {{ form.username(class="form-control", required="", placeholder="Username") }}
                        <i class="md md-account-circle form-control-feedback l-h-34"></i>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <!-- <input id="{{ form.password.id }}" class="form-control" type="password" required="" placeholder="Password"> -->
                        {{ form.password(class="form-control", required="", placeholder="Password") }}
                        <i class="md md-vpn-key form-control-feedback l-h-34"></i>
                    </div>
                </div>

                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">Log In
                        </button>
                    </div>
                </div>

                <!-- <div class="form-group m-t-30">
                    <div class="col-sm-7">
                        <a href="pages-recoverpw.html" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your
                            password?</a>
                    </div>
                    <div class="col-sm-5 text-right">
                        <a href="pages-register.html" class="text-muted">Create an account</a>
                    </div>
                </div> -->
            </form>
        </div>

        
    	<script>
            var resizefunc = [];
        </script>

        <!-- Main  -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/detect.js') }}"></script>
        <script src="{{ url_for('static', filename='js/fastclick.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.slimscroll.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.blockUI.js') }}"></script>
        <script src="{{ url_for('static', filename='js/waves.js') }}"></script>
        <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.nicescroll.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.scrollTo.min.js') }}"></script>

        <!-- Custom main Js -->
        <script src="{{ url_for('static', filename='js/jquery.core.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.app.js') }}"></script>
	
	</body>
</html>