{% extends "layout.html" %}
{% block content %}
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <ol class="breadcrumb pull-right">
                    <li><a href="#">{{team_name}}</a></li>
                    <li class="active">Dashboard</li>
                </ol>
                <h4 class="page-title">{{ record.win }} - {{ record.loss }} - {{ record.draw }}</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <h4 class="text-dark  header-title m-t-0">Upcoming Match</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Teams</th>
                            <th>Goals For</th>
                            <th>Goals Allowed</th>
                            <th>Attacks</th>
                            <th>Dangerous Attacks</th>
                            <th>Goal Attempts</th>
                            <th>Ball Safe</th>
                            <th>Possession</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ home_features.name }}</td>
                                <td>{{ home_features.goals_for }}</td>
                                <td>{{ home_features.goals_allowed }}</td>
                                <td>{{ home_features.attacks }}</td>
                                <td>{{ home_features.dangerous_attacks }}</td>
                                <td>{{ home_features.goal_attempts }}</td>
                                <td>{{ home_features.ball_safe }}</td>
                                <td>{{ home_features.possession }}</td>
                            </tr>
                            <tr>
                                <td>{{ away_features.name }}</td>
                                <td>{{ away_features.goals_for }}</td>
                                <td>{{ away_features.goals_allowed }}</td>
                                <td>{{ away_features.attacks }}</td>
                                <td>{{ away_features.dangerous_attacks }}</td>
                                <td>{{ away_features.goal_attempts }}</td>
                                <td>{{ away_features.ball_safe }}</td>
                                <td>{{ away_features.possession }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <br />
                <br />

                <h4 class="text-dark  header-title m-t-0">Season Stats</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Goals For</th>
                            <th>Goals Allowed</th>
                            <th>Attacks</th>
                            <th>Dangerous Attacks</th>
                            <th>Yellow Cards</th>
                            <th>Corner Kicks</th>
                            <th>Possession</th>
                            <th>Shots on Target</th>
                            <th>Shots Total</th>
                            <th>Ball Safe</th>
                            <th>Goal Attempts</th>
                            <th>Goal Attempts Allowed</th>
                            <th>Saves</th>
                            <th>Goal Kicks</th>
                            <th>First Half Goals</th>
                            <th>Second Half Goals</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ season_stats.goals_for }}</td>
                            <td>{{ season_stats.goals_allowed }}</td>
                            <td>{{ season_stats.attacks }}</td>
                            <td>{{ season_stats.dangerous_attacks }}</td>
                            <td>{{ season_stats.yellow_cards }}</td>
                            <td>{{ season_stats.corner_kicks }}</td>
                            <td>{{ season_stats.possession }}</td>
                            <td>{{ season_stats.shots_on_target }}</td>
                            <td>{{ season_stats.shots_total }}</td>
                            <td>{{ season_stats.ball_safe }}</td>
                            <td>{{ season_stats.goal_attempts }}</td>
                            <td>{{ season_stats.goal_attempts_allowed }}</td>
                            <td>{{ season_stats.saves }}</td>
                            <td>{{ season_stats.goal_kicks }}</td>
                            <td>{{ season_stats.first_half_goals }}</td>
                            <td>{{ season_stats.sec_half_goals }}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>

                <br />
                <br />

                <h4 class="text-dark  header-title m-t-0">Previous Matches</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Scheduled</th>
                            <th>Home Team</th>
                            <th>Home Score</th>
                            <th>Home First Half Score</th>
                            <th>Home Second Half Score</th>
                            <th>Away Team</th>
                            <th>Away Score</th>
                            <th>Away First Half Score</th>
                            <th>Away Second Half Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for match in previous_matches %}
                            <tr>
                                <td>{{ match.scheduled }}</td>
                                <td><a href="{{ url_for('team', team_id=match.home_id) }}">{{ match.home_team }}</a></td>
                                <td>{{ match.home_score }}</td>
                                <td>{{ match.home_first_half_score }}</td>
                                <td>{{ match.home_second_half_score }}</td>
                                <td><a href="{{ url_for('team', team_id=match.away_id) }}">{{ match.away_team }}</a></td>
                                <td>{{ match.away_score }}</td>
                                <td>{{ match.away_first_half_score }}</td>
                                <td>{{ match.away_second_half_score }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end col -8 -->

    </div>
    <!-- end row -->
{% endblock %}