    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <ol class="breadcrumb pull-right">
                    <li><a href="#"></a></li>
                    <li class="active">Dashboard</li>
                </ol>
                <h4 class="page-title">{{team.team}}</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="portlet"><!-- /primary heading -->
                <div class="portlet-heading">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false"> {{team.stat}} <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="f in team.features"><a ng-click="team.changeFlot(f)">{{f}}</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="portlet1" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div id="website-stats" style="height: 320px;" class="flot-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/plugins/flot-chart/jquery.flot.js"></script>
    <script src="/static/plugins/flot-chart/jquery.flot.time.js"></script>
    <script src="/static/plugins/flot-chart/jquery.flot.tooltip.min.js"></script>
    <script src="/static/plugins/flot-chart/jquery.flot.resize.js"></script>
    <script src="/static/plugins/flot-chart/jquery.flot.pie.js"></script>
    <script src="/static/plugins/flot-chart/jquery.flot.selection.js"></script>
    <script src="/static/plugins/flot-chart/jquery.flot.stack.js"></script>
    <script src="/static/plugins/flot-chart/jquery.flot.crosshair.js"></script>
    <script src="/static/pages/team/jquery.flot.init.js"></script>