{% extends "layout.html" %}
{% block content %}
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <ol class="breadcrumb pull-right">
                    <li><a href="#">{{team_name}}</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="portlet"><!-- /primary heading -->
                <div class="portlet-heading">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false"> Dropdown <span class="caret"></span> </button>
                        <ul class="dropdown-menu">
                            {% for key, value in features.items() %}
                                <li><a href="#" class="fetchSeries">{{key}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="portlet-widgets">
                        <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion1" href="#portlet1"><i class="ion-minus-round"></i></a>
                        <span class="divider"></span>
                        <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="portlet1" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div id="website-stats" style="height: 320px;" class="flot-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function getInfo() {
            var features = {{ features | safe }};
            var opp_features = {{ opp_features | safe }};

            var info = { features: features, opp_features: opp_features};
            return info;

        }

        $("a.fetchSeries").click(function () {

            $.plot("#website-stats", [{
			    data : [[1.0, 38], [2.0, 32], [3.0, 35], [4.0, 36], [5.0, 43]]
            }, {
                data : [[1.0, 21], [2.0, 19], [3.0, 16], [4.0, 13], [5.0, 14]]
            }]);

            console.log('changing');
        })


    </script>

{% endblock %}

{% block scripts %}

    <script src="{{ url_for('static', filename='plugins/flot-chart/jquery.flot.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/flot-chart/jquery.flot.time.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/flot-chart/jquery.flot.tooltip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/flot-chart/jquery.flot.resize.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/flot-chart/jquery.flot.pie.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/flot-chart/jquery.flot.selection.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/flot-chart/jquery.flot.stack.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/flot-chart/jquery.flot.crosshair.js') }}"></script>

    <script src="{{ url_for('static', filename='pages/team/jquery.flot.init.js') }}"></script>
{% endblock %}